/* General Styling */



* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}



html {

    scroll-behavior: smooth;

    /* Turned to this resource to handle some of the responsiveness issues of AOS.js: https://github.com/michalsnik/aos/issues/234 */

    overflow-x: hidden

}



@media only screen and (min-width: 320px) {



    /* General But Responsive Styling */



    #site-container {

        display: grid;

        width: 100%;

        grid-template: 20rem / 1fr;

    }



    main {

        padding: 2rem;

    }



    .secondary-head {

        font-family: filson-pro, sans-serif;

        font-weight: 200;

        font-size: 1.3rem;

        color: rgb(84, 34, 0);

        align-self: center;

        justify-self: center;

        width: 100%; 

        text-align: center; 

        border-bottom: .01rem solid rgb(84, 34, 0); 

        line-height: 0.1rem;

    }



    .secondary-head span {

        background:#fff; 

        padding:0 .4rem; 

    }



    /* Header Styling */



    header {

        background-image: url(assets/images/personal/meagan-h-1414289-unsplash.jpg);

        background-position: center center;

        background-size: cover;

    }



    nav {

        background-color: rgba(84, 34, 0, .5);

        height: 100%;

        display: flex;

        flex-direction: column;

        align-items: center;

        justify-content: center;

    }



    #portrait-img {

        width: 10rem;

        height: 10rem;

        border: .1rem rgb(196, 196, 196) solid;

        border-radius: 50%;

    }



    header h1 {

        color: rgb(255, 255, 255);

        text-shadow: 0 0 .3rem rgb(150, 88, 45);

        border-bottom: .2rem solid rgb(0, 141, 150);

        font-family: 'dancing script' , cursive;

        font-weight: 400;

        font-size: 2.5rem;

        margin: 1rem 0;

        padding-bottom: 1rem;

    }



    header ul {

        display: flex;

        flex-direction: row;

        flex-wrap: wrap;

        justify-content: center;

        align-content: center;

    }



    header li {

        list-style: none;

        margin: 0 .75rem;

        font-family: filson-pro, sans-serif;

        font-weight: 300;

        font-size: 1.2rem;

        text-align: center;

    }

    

    header a {

        color: rgb(255, 255, 255);

        text-decoration: none;

        text-shadow: 0 0 .3rem rgb(150, 88, 45);

        /* Reverse-engineered a simpler animation I understand the properties of from the grow animation I found on this site: http://ianlunn.github.io/Hover/#effects */

        display: inline-block;

        -webkit-transition-duration: 0.3s;

        transition-duration: 0.3s;

        -webkit-transition-property: transform;

        transition-property: transform;

    }



    header a:hover, header a:focus, header a:active {

        -webkit-transform: scale(1.3);

        transform: scale(1.3);

    }



    /* Intro Section Styling */



    section h1 {

        color: rgb(0, 141, 150);

        font-family: 'Dancing Script',cursive;

        font-weight: 300;

        text-align: center;

        margin: 0 0 1rem 0;

    }



    section p {

        margin-bottom: 1rem;

        font-family: 'oswald', sans-serif;

        font-weight: 200;

        font-size: 1rem;

    }



    section p a {

        color: rgb(0, 141, 150);

        text-decoration: none;

    }



    /* Portfolio Section Styling */



    #portfolio-grid {

        margin-top: 1rem;

        display: grid;

        grid-gap: 1rem;

        grid-template-columns: 1fr;

        padding: 1rem 0;

        border-top: .2rem solid  rgb(84, 34, 0);

    }



    #portfolio-grid h1 {

        margin: 0;

    }



    .portfolio-item {

        display: grid;

        grid-gap: 1rem;

        grid-template: fit-content(100%) fit-content(100%) auto / 1fr;

        text-align: center;

    }



    .portfolio-item p {

        margin: 0;

        align-self: center;

    }



    .portfolio-link {

        display: grid;

        grid-gap: 1rem;

        grid-template: 2rem auto / 1fr;

        text-decoration: none;

        font-family: freight-text-pro, serif;

        font-weight: 500;

        font-size: 1.3rem;

    }



    .tools-and-mobile {

        display: grid;

        grid-gap: 1rem;

        grid-template: auto / 1fr 8rem;

        align-self: flex-start;

    }



    .tools-and-icons {

        display: grid;

        grid-gap: 1rem;

        grid-template: auto auto / 1fr 1fr;

    }



    .tools-and-mobile h3 {

        font-family: freight-text-pro, serif;

        font-weight: 300;

        font-size: 1.3rem;

        grid-column: 1 / -1;

        align-self: center;

    }



    .phone-img {

        width: 100%;

        /* Learned about how to do a drop shadow on a PNG from this source: https://stackoverflow.com/questions/3186688/drop-shadow-for-png-image-in-css */

        -webkit-filter: drop-shadow(.3rem .3rem .3rem rgb(128, 128, 128));

        filter: drop-shadow(.3rem .3rem .3rem rgb(128, 128, 128));

    }



    .phone-img:hover {

        -webkit-filter: grayscale(100%) drop-shadow(.3rem .3rem .3rem rgb(128, 128, 128));

        filter: grayscale(100%) drop-shadow(.3rem .3rem .3rem rgb(128, 128, 128));

    }



    .img-div {

        display: flex;

        flex-direction: column;

    }



    .screen-img {

        width: 100%;

        box-shadow: .3rem .3rem .3rem rgb(128, 128, 128);

    }



    .screen-img:hover {

        -webkit-filter: grayscale(100%);

        filter: grayscale(100%);

    }



    .link-icons {

        display: grid;

        grid-template: auto / 1fr 1fr;

        grid-column: 1 / -1;

        justify-items: center;

        align-self: center;

    }



    .icon {

        font-size: 3rem;

        text-decoration: none;

        color: rgb(84, 34, 0); 

        transition: color .1s linear;

        transition: text-shadow .1s linear;

    }



    .icon:hover, .icon:active, .icon:focus {

        color: rgb(0, 141, 150);

        text-shadow: .2rem .2rem .2rem rgb(128, 128, 128);

    }



    /* CV Section Styling */



    #cv-grid {

        display: grid;

        grid-template-columns: 1fr;

        padding: 1rem 0;

        border-top: .2rem solid  rgb(84, 34, 0);

    }



    #cv-grid p {

        text-align: center;

    }



    #tech-icons {

        display: grid;

        grid-gap: 1rem;

        grid-template: 2rem auto / repeat(3, 1fr);

    }



    #tech-icons .secondary-head {

        grid-column: 1 / -1;

    }



    .icon-and-label {

        display: grid;

        grid-row-gap: .7rem;

        grid-template: auto 1rem / 1fr;

        justify-items: center;

    }



    .icon-and-label span {

        color: rgb(0, 141, 150);

        font-family: filson-pro, sans-serif;

        font-weight: 200;

        font-size: 1.2rem;

        align-self: end;

    }



    .tech-icon {

        width: 4rem;

        align-self: center;

    }



    #resume-grid {

        display: grid;

        grid-gap: 1rem;

        grid-template: 2rem auto / 1fr;

        margin-top: 1rem;

        justify-items: center;

        align-content: center

    }



    #resume-link {

        text-decoration: none;

    }



    #resume {

        width: 20rem;

        border: 1px solid rgb(0, 0, 0);

        box-shadow: .3rem .3rem .3rem rgb(128, 128, 128);

    }



    /* Contact Section Styling */



    #contact-grid {

        display: grid;

        grid-template-columns: 1fr;

        justify-items: center;

        padding: 1rem 0;

        border-top: .2rem solid  rgb(84, 34, 0);

    }



    #contact-grid p {

        text-align: center;

    }



    #contact-form {

        width: 100%;

        display: grid;

        grid-row-gap: 1rem;

        grid-template: auto / 1fr;

        margin-bottom: 1rem;

    }



    #contact-form input {

        background-color: rgb(243, 243, 243);

        border: .1rem rgb(196, 196, 196) solid;

        padding: .5rem;

        font-family: freight-text-pro, serif;

        font-weight: 300;

        font-size: 1.2rem;

    }



    #contact-form textarea {

        background-color: rgb(243, 243, 243);

        border: .1rem rgb(196, 196, 196) solid;

        padding: .5rem;

        height: 10rem;

        font-family: freight-text-pro, serif;

        font-weight: 300;

        font-size: 1.2rem;

    }



    #contact-form button {

        font-family: filson-pro, sans-serif;

        font-weight: 200;

        font-size: 1.2rem;

        padding: .7rem;

        justify-self: center;

        background-color: rgb(0, 141, 150);

        color: rgb(255, 255, 255);

        transition: box-shadow .1s linear;

    }



    #contact-form button:hover, #contact-form button:active, #contact-form button:focus {

        box-shadow: .2rem .2rem .2rem rgb(128, 128, 128);

        cursor: pointer;

    }



    #contact-form button:active {

        box-shadow: .2rem .2rem .2rem rgb(128, 128, 128);

        background-color: rgb(84, 34, 0);

    }



    #contact-icons {

        display: grid;

        width: 100%;

        grid-row-gap: .7rem;

        grid-template: 2rem auto / repeat(6, 1fr);

    }



    #contact-icons .secondary-head {

        grid-column: 1 / -1;

    }



    #contact-icons a {

        text-decoration: none;

        align-self: center;

        justify-self: center;

        color: rgb(84, 34, 0);

        transition: color .1s linear;

        transition: text-shadow .1s linear;

    }



    #contact-icons a:hover, #contact-icons a:active, #contact-icons a:focus {

        color: rgb(0, 141, 150);

        text-shadow: .1rem .1rem .1rem rgb(128, 128, 128);

    }



    #contact-icons i {

        font-size: 2rem;

    }



    /* Footer Styling */



    footer {

        background-color: rgb(0, 141, 150);

        border-top: .2rem solid  rgb(84, 34, 0);

        display: grid;

        width: 100%;

        height: 3rem;

        color: rgb(255, 255, 255);

        justify-items: center;

        align-items: center;

    }



    footer p {

        font-family: filson-pro, sans-serif;

        font-weight: 200;

        font-size: .8rem;

    }



}



@media only screen and (min-width: 479px) {

    #contact-icons {

        width: 400px;

    }

}



@media only screen and (min-width: 600px) {



    #portfolio-grid {

        grid-template-columns: 1fr 1fr;

    }



    #portfolio-grid h1 {

        grid-column: 1 / -1;

    }



    #tech-icons {

        grid-template-columns: repeat(4, 1fr);

    }



    #contact-form {

        grid-template: auto / 1fr 1fr;

        grid-column-gap: 1rem;

    }



    #message {

        grid-column: 1 / -1;

    }



    #submit-btn {

        grid-column: 1 / -1;

    }



}



@media only screen and (min-width: 768px) {

    

    #site-container {

        grid-template: auto auto / 20rem 1fr;

    }



    header {

        background-size: cover;

        position: fixed;

        width: 20rem;

        height: 100vh;

    }



    header ul {

        flex-direction: column;

    }



    header li {

        margin: 0 0 1rem;

    }



    main {

        grid-column-start: 2;

        padding-top: 0;

    }



    #opening-section {

        display: grid;

        justify-items: center;

        align-content: center;

        height: 100vh;
 
    }



    #portfolio-grid {

        grid-template-columns: 1fr;

    }



    #contact-grid {

        height: 100vh;

        align-content: center;

    }



    #contact-form {

        grid-template: auto / 1fr;

    }



    #contact-icons {

        width: 100%;

    }



    footer {

        grid-column: 2 / -1;

        

    }



}



@media only screen and (min-width: 799px) {

    #contact-icons {

        width: 400px;

    }

}



@media only screen and (min-width: 940px) {



    #portfolio-grid {

        grid-template-columns: 1fr 1fr;

    }



    #tech-icons {

        grid-template-columns: repeat(6, 1fr);

    }



    #contact-form {

        grid-template: auto / 1fr 1fr;

    }



}


